//Variables
$adamBlack: #000;
$adamWhite: #fff;
$adamAccent: lighten(#7722b6, 30%);


//Google Font Families

// font-family: 'Cardo', serif;
// font-family: 'Pathway Gothic One', sans-serif;



a {
	color: $adamBlack;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

/* paragraphs */

h1, h2, h3, h4, h5, p, a {
	line-height: 1.5;
	font-size: 1em;
	font-weight: 300;
	text-transform: uppercase;
}
p{
	text-transform: none;
}
.margin-top{
	margin-top: 5%;
}


/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}